body {
    background-color: #CCCCCC;
}

.container {
    width: 1540px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.w80 {
    width: 80px;
}

#tools-panel {
    display: flex;
    flex-wrap: wrap;
}
.btn {
    background-color: #DDD;
    border: 1px solid #8C8C8C;
    border-top-color: #FFF;
    border-left-color: #FFF;
}
.btn:hover {
    background-color: #CCC;
}
.btn.selected {
    background-color: #8C8C8C;
    border-top-color: #636363;
    border-left-color: #636363;
}

.btn-icon {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}

.btn-icon-circle {
    background-image: url(../icons/circle.svg);
}

.btn-icon-rectangle {
    background-image: url(../icons/rectangle.svg);
}

#fill-color,
#stroke-color {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #636363 ;
}

#fill-color {
    background-color: #000;
}








