body{
    background-color:#005663;
    }
    h1{
    color:#e9f0e9;
    margin-left:43%;
    }
    p{
        text-align: center;
        color:antiquewhite;
    }
    .graphique{
        margin: 500px;
        
    }